<div class="exit rounded-circle d-flex justify-content-center align-items-center"
     (click)="close()">
  <img class="exit__image" src="/assets/images/cancel.png" alt="">
</div>

<perfect-scrollbar class="scroll">
  <h2 class="title">
    АПЕПС
  </h2>

  <p class="title__description">Кафедра автоматизації проектування енергетичних процесів і систем</p>

  <p class="list__title">
    Готує фахівців з
    комп’ютерних наук за спеціалізаціями :
  </p>

  <ul class="list">
    <li class="list__item">комп'ютерне геометричне моделювання процесів та систем</li>
    <li class="list__item">комп'ютерний еколого-кономічний моніторингу процесів та систем</li>
  </ul>

  <p class="list__title">
    Інженерії програмного забезпечення за спеціалізаціями :
  </p>

  <ul class="list">
    <li class="list__item">комп'ютерне геометричне моделювання процесів та систем</li>
    <li class="list__item">комп'ютерний еколого-кономічний моніторингу процесів та систем</li>
  </ul>

  <ul class="list">
    <li class="list__item">програмне забезпечення розподілених систем та Web - технологій</li>
    <li class="list__item">програмне забезпечення кібер -енергетичних систем</li>
  </ul>

  <p class="list__title">
    Випускники кафедри АПЕПС - програмісти вищої кваліфікації. Через високий попит ринку праці на фахівців з розробки
    програмних систем та мобільних додатків випускники даної спеціалізації можуть працювати практично в будь-якій
    структурі як спеціалісти з проектування, розробки або автоматизованого тестування комп’ютерних систем різного рівня
    складності.
  </p>

  <h4 class="link">Перейти на сайт</h4>

</perfect-scrollbar>
