$default-blue: #0d0e5a;
$light-burgundy: #8c2d54;
$cobalt: #1d4e89;
$light-olive-green: #99b14e;
$basic-white: #fffffc;
$separator: #d8d8d8;
$basic-black: #001011;
$gray: #4c4e4e;
$grayed-white: #ededed;
$warm-grey: #717171;
$modal-text: #47356c;
$modal-bg: #fdd95b;
$input-grey: #8a8a8a;
$line-grey: #f5f5f5;
$olive-green: #85d479;
